/_build/
/.elixir_ls/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Local ENV values
.envrc
.env
.DS_Store

# Ignore the Erlang crash dump files
erl_crash.dump